{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "useBuiltIns": "usage"
    }],
    "@babel/preset-flow",
    "@babel/preset-react"
  ],
  "env": {
    "development": {
      "presets": [
        ["@babel/preset-react", {"development": true}]
      ]
    },
    "test": {
      "presets": [
        ["@babel/preset-env", {"useBuiltIns": "usage"}]
      ]
    }
  }
}
